* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-size: 15px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0.7);
    color: #7EB3C9;
}

#workspaces button {
    margin: 10px 10px;
    color: #7EB3C9;
}

#workspaces button.active {
    color: #7EB3C9;
    background: #313244;
    border-radius: 10px;
}

#mediaplayer {
    padding: 0 10px;
    margin: 0 4px;
    color: #b4befe;
}

#clock,
#pulseaudio,
#cpu,
#disk,
#tray,
#network {
    padding: 0 15px;
}
